.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #dde0ea;
}

.contents{
  display: flex;
  width: 96%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.navigation{
  position: relative;
  cursor: pointer;
  ul{
    display: flex;
    list-style: none;
  }
  
  li+li{
    margin-left: 100px;
  }
}

// 다른 컴포넌트 hover 시, 하위 hover안됨

.nav1:hover{
  color: red;
}



// .container{
//   display: flex;
// }